/* Set body margin and padding to 0 to remove default spacing */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 39, 42);
}

/* Style the buttons */
button {
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  color: white;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Style the links inside the buttons */
a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  background-position: center;
  background-size: cover;
}

/* Add semi-transparent overlay on hover */
a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

a:hover:before {
  opacity: 1;
}

/* Style the text inside the links */
a span {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}

/* Style the images inside the links */
a img {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}

/* Center the text inside the button and allow clicking anywhere */
button a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Center the link text inside each button */
.left a,
.right a {
  display: flex;
  justify-content: center;
}

/* Style the left button */
.left {
  width: 50%;
  float: left;
  background-image: url("img/admin3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
/* Style the right button */
.right {
  width: 50%;
  float: right;
  background-image: url("img/scramblepad.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

/* Position the button container */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
