body {
  background-color: rgb(37, 39, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select,
button {
  margin-top: 10px;
  width: 20vw;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}

/* The following styles apply to the button within the form element only */
form button {
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 50px;
}

.in-use {
  background-color: rgba(255, 0, 0, 0.788);
  color: white;
}

#print-btn {
  display: none;
}
